* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-slate-300: #d5e1ef;
  --color-white: #ffffff;

  --sp-500: 2.5rem;
  --sp-300: 1.5rem;
  --sp-200: 1rem;
}

.text-preset-1 {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 1.375rem;
  letter-spacing: 0px;
  line-height: 1.2;
}

.text-preset-2 {
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

body {
  min-height: 100vh;
  background-color: var(--color-slate-300);
  font-size: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 20rem;
  padding-block-end: 2.5rem;
  padding-block-start: 1rem;
  border-radius: 1.5rem;
  text-align: center;
  padding-inline: 1rem;
  background-color: var(--color-white);

  display: inline-flex;
  flex-direction: column;
  gap: 1.5rem;
}

img {
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  gap: 1rem;
}

.text > :first-child {
  color: var(--color-slate-900);
}
.text > :last-child {
  color: var(--color-slate-500);
}
